force-app/main/default/flows/Test_Webhook2Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Error_to_Error_Collection</name>
        <label>Add Error to Error Collection</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errorCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorInstance</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign the input parameters to a contact</description>
        <name>Assign_Parameters_to_Contact</name>
        <label>Assign Parameters to Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>NewContact.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>created_at</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.LastCUUpdateDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updated_at</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreIDinDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the error record</description>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>errorInstance.ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorInstance.ErrorId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CANNOT_INSERT_UPDATE_ACTIVATE_ENTITY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_to_Error_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <description>Have to extract last name from Name to store in Contact</description>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>IF(((Find(&quot; &quot;, {!name})-1) != -1), LEFT({!name},(Find(&quot; &quot;, {!name})-1)),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>LastName</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!name},LEN({!name})-LEN({!FirstName})))</expression>
    </formulas>
    <interviewLabel>Test USF_Webhook2Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test USF_Webhook2Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputReference>NewContact</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Parameters_to_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Convert the numeric value to a string with description</description>
        <name>StoreIDinDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The GitLab User ID is: {!user_id}</text>
    </textTemplates>
    <variables>
        <name>created_at</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FlowExecutionErrorEvent</objectType>
    </variables>
    <variables>
        <name>errorInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowExecutionErrorEvent</objectType>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>updated_at</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user_id</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
